/**
GOOGLE FONTS:

font-family: 'Roboto Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Anaheim', sans-serif;
font-family: 'Grandstander', cursive;
*/


@import url('https://fonts.googleapis.com/css?family=Anaheim|Roboto|Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

/* ---------- Document Wide ---------- */

html{
  height: 100%;
}

body{
  background: inherit;
  width: 100%;
  overflow-x: hidden;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px)
{
  footer{
    position: relative;
  }
}

/* ---------- Front Page CSS ---------- */

#intro{
  display: flex;
  justify-content: center;

  padding: 5vh 0;
}

#intro img{
  width: 18vw;
  min-width: 150px;
  height: 18vw;
  min-height: 150px;

  filter: drop-shadow(0 0 10px #000000);
}

#intro-text{
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'Anaheim', sans-serif;
  font-size: 3vw;

  margin-left: 4vw;
  line-height: 0.9;
}

#intro-name{
  font-size: 10vw;
}

#i-am-a {
  transition: opacity 0.5s;
}

#check-out{
  margin-top: 2.5vh;

  text-align: center;

  font-family: 'Anaheim', sans-serif;
  font-size: max(20px, 2.5vw); /* Adjust so it resizes well */
}

#front-row{
  padding: 0 5vw;
}

.index-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding: 0 5px;

  font-family: 'Anaheim', sans-serif;
  font-size: max(25px, 2vw); /* Adjust so it resizes well */

  transition: all .2s ease-in;
}

.index-card img{
  width: 10vw;
  min-width: 150px;
  height: 10vw;
  min-height: 150px;

  margin: 3vh auto;
}

.index-card:hover{
  transform: scale(1.2);
}

.icon{
  height: 25px;
  width: auto;
  margin: 10px;
  border: 0;
}

/* ---------- Modal CSS ---------- */

/* ---------- Content Page CSS ---------- */

.content-page{
  padding: 20px 5vw;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 5px;
}

.link{
  color:#2081C3;
}

.title{
  font-family: 'Anaheim', sans-serif;
  font-size: clamp(60px, 10vw, 150px);
  line-height: clamp(8vw, 9vw, 10vw);
}

.explain{
  font-family: 'Roboto', sans-serif;
  font-size: clamp(20px, 2vw, 2vw);
  margin: 0px 1vw 3vh;
}

/* Games Page */
.game-photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all .1s ease-out;
}

.game-photo:hover{
  filter: blur(5px);
  transform: scale(1.1);
  transition: all .1s ease-in;
}

.game-photo.display-title:hover{
  display: block;
}

.display-box{
  display: grid;
  justify-items: center;
  position: relative;
  margin: 1vh 1vw;
}

.display-title{
  position: absolute;
  bottom: 8px;
  left: 16px;
  display: none;
}

/* ----------- MEDIA QUERIES ---------- */

/* MOBILE SCREENS */
@media only screen and (max-width: 768px)
{
  .index-card{
    margin: 5px 0;
  }
  
  .title{
    line-height: 15vw;
  }

  .explain{
    font-size: 18px;
  }
}